.reservation {
    background-color: #D9E7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../images/background_reservation.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reservation__title {
    margin: 0 auto 80px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    padding-top: 100px;
}

.reservation__form {
    max-width: 385px;
    border-radius: 0;
    box-sizing: border-box;
    justify-items: center;
    margin-bottom: 120px;
}