.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    /* margin: 180px 0 20px 0; */
    box-sizing: border-box;
    background-image: url("../images/background_header.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}


.nav {
    display: flex;
    justify-content: space-between;

}

.nav__logo {
    width: 105px;
    height: 39px;
    position: relative;
    margin: 18px 0 0 30px;
}

.nav__links {
margin: 30px 80px 0 30px;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 20px;
}

.nav__link {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}


.span-accent {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2F80ED;
    
}



.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: 1px;
    max-width: 709px;
margin: 183px 0 20px 80px;
}



.header__description {
    max-width: 683px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
margin: 0 0 0 80px;
}


.header__list {
   
}

.header__hours-item {
   
 
}

.header__hours {

  
    
}
.header__paragraph {
    margin: 0
;
}
.header__image {
  position: absolute;
  top: 124px;
  bottom: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}



.footer {

}

.recipes {

        background-color: #0a2750;
        height: 100vh;
        min-height: 720px;
        max-height: 800px;
        box-sizing: border-box;
        background-image: url("../images/background_recipes.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

   .recipes__videos {
       display: flex;
       flex-direction: row;
       justify-content: center;
        gap: 40px;
        padding-top: 80px;

   }

   .recipes__video-item {
    
   

   }

   .video-caption {
       color: #FFFFFF;
       font-family: "Inter";
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 30px;
   }

   .recipes__title {
       color: #FFFFFF;
       font-family: "Inter";
       font-style: normal;
       font-weight: 500;
       font-size: 44px;
       line-height: 52px;
       max-width: 580px;
    padding-left: 80px;
    padding-top: 100px;
    margin: 0;
   }

   .recipes__subtitle {
       color: #FFFFFF;
       font-family: "Noto Serif";
       font-style: normal;
       font-weight: normal;
       font-size: 20px;
       line-height: 30px;
       max-width: 438px;
       padding-left: 80px;

   }

           /* Apartir de aquí estoy trabajando */

                   /* Sección principal */
                   .reservation {
                       background-color: #D9E7FF;
                       display: flex;
                       flex-direction: column;
                       align-items: center;
                       justify-content: center;
                       height: 100vh;
                       box-sizing: border-box;
                       background-image: url("../images/background_reservation.svg");
                       background-size: cover;
                       background-position: center;
                       background-repeat: no-repeat;
                   }
        
                   .reservation__section {
                       display: flex;
                       flex-direction: column;
                       align-items: center;
                       background-color: #dbeafe;
                       /* azul claro del fondo */
                       padding: 100px 20px;
                       min-height: 100vh;
                   }
        
                   /* Título */
                   .reservation__title {
                       font-family: Inter, sans-serif;
                       font-size: 44px;
                       font-weight: 500;
                       text-align: center;
                       margin-bottom: 40px;
                   }
        
                   /* Formulario */
                   .reservation__form {
                       max-width: 385px;
                       width: 100%;
                       padding: 32px;
                       border-radius: 0px;
                       box-sizing: border-box;
                   }
        
                   .form__fieldset {
                       border: none;
                       padding: 0;
                       margin: 0;
                       display: flex;
                       flex-direction: column;
                       gap: 32px;
                   }
        
                   .form-group {
                       display: flex;
                       flex-direction: column;
                   }
        
                   /* Etiquetas */
                   .form__label {
                       font-family: 'Inter', sans-serif;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 16px;
                       line-height: 20px;
                       color: #000000;
                       display: block;
                       margin-bottom: 8px;
                   }
        
                   label {
                       margin-bottom: 8px;
                       font-size: 16px;
                       font-weight: 400;
                   }
        
                   /* Campos de entrada */
                   input,
                   select {
                       padding: 12px;
                       font-size: 16px;
                       border: 1px solid #ccc;
                       border-radius: 4px;
                       font-family: Inter, sans-serif;
                   }
        
                   input[type="checkbox"] {
                       width: 20px;
                       height: 20px;
                   }
        
                   .form__checkbox {
                       margin-right: 10px;
                       border-radius: 2px;
                   }
        
                   /* Botón */
                   .form__button {
                       padding: 14px;
                       background-color: #3b82f6;
                       color: white;
                       border: none;
                       border-radius: 4px;
                       cursor: pointer;
                       font-family: Inter;
                       font-style: normal;
                       font-weight: 500;
                       font-size: 16px;
                       line-height: 20px;
                       width: 100%;
                       transition: opacity 0.3s;
                   }
        
                   .form__button:hover {
                       opacity: 0.7;
                   }
        
                   /* Consentimiento */
                   .form__consent {
                       display: flex;
                       align-items: center;
                       font-size: 14px;
                       gap: 8px;
                   }