.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    /* margin: 180px 0 20px 0; */
    box-sizing: border-box;
    background-image: url("../images/background_header.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}


.nav {
    display: flex;
    justify-content: space-between;

}

.nav__logo {
    width: 105px;
    height: 39px;
    position: relative;
    margin: 18px 0 0 30px;
}

.nav__links {
margin: 30px 80px 0 30px;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 20px;
}

.nav__link {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}


.span-accent {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2F80ED;
    
}



.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: 1px;
    max-width: 709px;
margin: 183px 0 20px 80px;
}



.header__description {
    max-width: 683px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
margin: 0 0 0 80px;
}


.header__list {
   
}

.header__hours-item {
   
 
}

.header__hours {

  
    
}
.header__paragraph {
    margin: 0
;
}
.header__image {
  position: absolute;
  top: 124px;
  bottom: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}



.footer {

}

.recipes {

        background-color: #0a2750;
        height: 100vh;
        min-height: 720px;
        max-height: 800px;
        box-sizing: border-box;
        background-image: url("../images/background_recipes.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

   .recipes__videos {
       display: flex;
       flex-direction: row;
       justify-content: center;
        gap: 40px;
        padding-top: 80px;

   }

   .recipes__video-item {
    
   

   }

   .video-caption {
       color: #FFFFFF;
       font-family: "Inter";
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 30px;
   }

   .recipes__title {
       color: #FFFFFF;
       font-family: "Inter";
       font-style: normal;
       font-weight: 500;
       font-size: 44px;
       line-height: 52px;
       max-width: 580px;
    padding-left: 80px;
    padding-top: 100px;
    margin: 0;
   }

   .recipes__subtitle {
       color: #FFFFFF;
       font-family: "Noto Serif";
       font-style: normal;
       font-weight: normal;
       font-size: 20px;
       line-height: 30px;
       max-width: 438px;
       padding-left: 80px;

   }